.userinput {
  background-color: rgb(236, 253, 242);
  border: 2px solid green;
  border-radius: 12px;
  color: darkblue;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 15px;
  width: 50%;
}
