.Person {
    width: 65%;
    margin: 16px auto;
    border: 4px solid #33f122;
    box-shadow: 0 2px 3px #ccc;
    padding: 18px;
    text-align: center;

}

@media (min-width: 600px) {
    .Person {
        border: 4px solid #e90f1d;
    }
}
