.App {
  text-align: center;
}

.tasks {
  align-content: center;
  border: 2px solid rgb(145, 125, 14);
  border-radius: 11px;
  width: 200px;
}

.subTask {
  background-color: rgb(197, 193, 193);
  width: 75%;
}
