/* Coolors Exported Palette - coolors.co/1c3144-596f62-7ea16b-c3d898-70161e */

/* HSL */
$color1: hsla(209%, 42%, 19%, 1);
$color2: hsla(145%, 11%, 39%, 1);
$color3: hsla(99%, 22%, 53%, 1);
$color4: hsla(80%, 45%, 72%, 1);
$color5: hsla(355%, 67%, 26%, 1);

/* RGB */
$color1: rgba(28, 49, 68, 1);
$color2: rgba(89, 111, 98, 1);
$color3: rgba(126, 161, 107, 1);
$color4: rgba(195, 216, 152, 1);
$color5: rgba(112, 22, 30, 1);